<div
	class="flex flex-col shadow-lg w-full max-w-md px-4 py-8 bg-white rounded-lg shadow-slate-900 dark:bg-gray-800 sm:px-6 md:px-8 lg:px-10"
>
	<div
		class="self-center text-xl font-light text-gray-600 sm:text-2xl dark:text-white"
	>
		Inicia sesi&oacute;n para acceder al sistema
	</div>
	<div class="mt-8">
		<form action="#" autocomplete="off">
			<div class="flex flex-col mb-2">
				<div class="flex relative mb-4">
					<span
						class="rounded-l-md inline-flex items-center px-3 border-t bg-white border-l border-b border-gray-300 text-gray-500 shadow-sm text-sm"
					>
						<i class="fa-solid fa-user"></i>
					</span>
					<input
						type="text"
						name="nickname"
						[(ngModel)]="user.nickname"
						class="rounded-r-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-cyan-600 focus:border-transparent"
						placeholder="Introduce tu nombre de usuario"
					/>
				</div>
			</div>
			<div class="flex flex-col mb-6">
				<div class="flex relative">
					<span
						class="rounded-l-md inline-flex items-center px-3 border-t bg-white border-l border-b border-gray-300 text-gray-500 shadow-sm text-sm"
					>
						<i class="fa-solid fa-key"></i>
					</span>
					<input
						type="password"
						name="password"
						[(ngModel)]="user.password"
						class="rounded-r-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-cyan-600 focus:border-transparent"
						placeholder="Introduce tu contrase&ntilde;a"
					/>
				</div>
			</div>

			<div class="flex w-full">
				<button
					(click)="login()"
					type="button"
					class="py-2 px-4 bg-cyan-600 hover:bg-cyan-700 focus:ring-cyan-500 focus:ring-cyan-purple-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
				>
					Entrar
				</button>
			</div>
		</form>
	</div>
</div>
