<div class="p-3">
	<div class="border-b border-gray-200 dark:border-gray-700">
		<ul class="flex flex-wrap -mb-px">
			<li class="mr-2">
				<a
					[routerLinkActive]="['text-blue-600', 'border-blue-500', 'active']"
					[routerLink]="['/dashboard/products/search']"
					href="#"
					class="inline-flex py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300 group"
				>
					<i class="fa-solid fa-magnifying-glass my-auto mr-2"></i>
					Buscar
				</a>
			</li>
			<li class="mr-2">
				<a
					[routerLinkActive]="['text-blue-600', 'border-blue-500', 'active']"
					[routerLink]="['/dashboard/products/create']"
					href="#"
					class="inline-flex py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300 group"
				>
					<i class="fa-solid fa-square-plus my-auto mr-2"></i>
					Nuevo
				</a>
			</li>
			<li class="mr-2">
				<a
					[routerLinkActive]="['text-blue-600', 'border-blue-500', 'active']"
					[routerLink]="['/dashboard/products/list']"
					href="#"
					class="inline-flex py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300 group"
				>
					<i class="fa-solid fa-list my-auto mr-2"></i>Todos
				</a>
			</li>

			<li class="mr-2">
				<a
					[routerLinkActive]="['text-blue-600', 'border-blue-500', 'active']"
					[routerLink]="['/dashboard/products/categories']"
					class="inline-flex py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300 group"
				>
					<i class="fa-solid fa-clipboard-list my-auto mr-2"></i>
					Categor&iacute;as
				</a>
			</li>
		</ul>
	</div>

	<router-outlet></router-outlet>
</div>
